header{
    height: 100px;
    width: 100%;
    background-color: #283D3A;
}
footer{
    color: white;
    background-color: #283D3A;
    text-align: center;
}
img {
    transform: scale(0.5);
}
main{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

